<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Category</key>
		<string>Straight Fire</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>I just spent that on a necklace</string>
				<key>Detail</key>
				<string>“Can’t Tell Me Nothing” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I’d rather be a dick than a swallower</string>
				<key>Detail</key>
				<string>“New Slaves” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No you’re not perfect but you’re not your mistakes</string>
				<key>Detail</key>
				<string>“Only One” (feat. Paul McCartney) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>How you gon’ be mad on vacation?</string>
				<key>Detail</key>
				<string>“Bound 2” (Ft. Charlie Wilson) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No sins as long as there’s permission</string>
				<key>Detail</key>
				<string>“No Church in the Wild” (Feat. Frank Ocean &amp; Jay Z) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t need pussy I’m on my own dick</string>
				<key>Detail</key>
				<string>“Power” (Ft. Dwele) - Kanye West</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Based</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>Allow Myself to Introduce Myself</string>
				<key>Detail</key>
				<string>“The New Workout Plan” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I am a God</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>Hurry up with my damn croissants</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I still think I am the greatest</string>
				<key>Detail</key>
				<string>-Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t know what’s better gettin’ laid or gettin’ paid</string>
				<key>Detail</key>
				<string>“This Way” (Ft. Kanye West) - Dilated Peoples</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>My style is sex in the shower, fresh as fuck</string>
				<key>Detail</key>
				<string>“Diamonds” Remix (Ft. Kanye West) - Rihanna</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Straight Fire</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>I just spent that on a necklace</string>
				<key>Detail</key>
				<string>“Can’t Tell Me Nothing” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I’d rather be a dick than a swallower</string>
				<key>Detail</key>
				<string>“New Slaves” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No you’re not perfect but you’re not your mistakes</string>
				<key>Detail</key>
				<string>“Only One” (feat. Paul McCartney) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>How you gon’ be mad on vacation?</string>
				<key>Detail</key>
				<string>“Bound 2” (Ft. Charlie Wilson) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No sins as long as there’s permission</string>
				<key>Detail</key>
				<string>“No Church in the Wild” (Feat. Frank Ocean &amp; Jay Z) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t need pussy I’m on my own dick</string>
				<key>Detail</key>
				<string>“Power” (Ft. Dwele) - Kanye West</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Based</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>Allow Myself to Introduce Myself</string>
				<key>Detail</key>
				<string>“The New Workout Plan” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I am a God</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>Hurry up with my damn croissants</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I still think I am the greatest</string>
				<key>Detail</key>
				<string>-Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t know what’s better gettin’ laid or gettin’ paid</string>
				<key>Detail</key>
				<string>“This Way” (Ft. Kanye West) - Dilated Peoples</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>My style is sex in the shower, fresh as fuck</string>
				<key>Detail</key>
				<string>“Diamonds” Remix (Ft. Kanye West) - Rihanna</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Straight Fire</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>I just spent that on a necklace</string>
				<key>Detail</key>
				<string>“Can’t Tell Me Nothing” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I’d rather be a dick than a swallower</string>
				<key>Detail</key>
				<string>“New Slaves” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No you’re not perfect but you’re not your mistakes</string>
				<key>Detail</key>
				<string>“Only One” (feat. Paul McCartney) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>How you gon’ be mad on vacation?</string>
				<key>Detail</key>
				<string>“Bound 2” (Ft. Charlie Wilson) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No sins as long as there’s permission</string>
				<key>Detail</key>
				<string>“No Church in the Wild” (Feat. Frank Ocean &amp; Jay Z) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t need pussy I’m on my own dick</string>
				<key>Detail</key>
				<string>“Power” (Ft. Dwele) - Kanye West</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Based</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>Allow Myself to Introduce Myself</string>
				<key>Detail</key>
				<string>“The New Workout Plan” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I am a God</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>Hurry up with my damn croissants</string>
				<key>Detail</key>
				<string>“I am a God” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I still think I am the greatest</string>
				<key>Detail</key>
				<string>-Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t know what’s better gettin’ laid or gettin’ paid</string>
				<key>Detail</key>
				<string>“This Way” (Ft. Kanye West) - Dilated Peoples</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>My style is sex in the shower, fresh as fuck</string>
				<key>Detail</key>
				<string>“Diamonds” Remix (Ft. Kanye West) - Rihanna</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Category</key>
		<string>Straight Fire</string>
		<key>Content</key>
		<array>
			<dict>
				<key>Lyric</key>
				<string>I just spent that on a necklace</string>
				<key>Detail</key>
				<string>“Can’t Tell Me Nothing” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I’d rather be a dick than a swallower</string>
				<key>Detail</key>
				<string>“New Slaves” - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No you’re not perfect but you’re not your mistakes</string>
				<key>Detail</key>
				<string>“Only One” (feat. Paul McCartney) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>How you gon’ be mad on vacation?</string>
				<key>Detail</key>
				<string>“Bound 2” (Ft. Charlie Wilson) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>No sins as long as there’s permission</string>
				<key>Detail</key>
				<string>“No Church in the Wild” (Feat. Frank Ocean &amp; Jay Z) - Kanye West</string>
			</dict>
			<dict>
				<key>Lyric</key>
				<string>I don’t need pussy I’m on my own dick</string>
				<key>Detail</key>
				<string>“Power” (Ft. Dwele) - Kanye West</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
